.logo{
    font-family: 'Sriracha', cursive;
    font-size: 40px;
}

#navbar{
    background-color: #EB9717;
    color: white;
}

.navmenu{
    position: relative;
    left: 50%;
}

.navmenu a{
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
    color: white;
}