*{
    padding: 0;
    margin: 0;
}

.container{
    background-color: teal;
    width: 1000px;
    margin-left: 180px;
}

#titulobanner{
    margin-left: 35px;
    margin-bottom: 10px;
    font-size: 20px;
}
.form{
    margin-left: 35px;
}

.form input{
    margin-bottom: 10px;
}

.form input, textarea{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    width: 900px;
    border:none;
    border-bottom: 1px solid grey;
}

.btn{
    margin-top: 15px;
}

.post-btn{
    background-color: rgb(58, 58, 211);
    color: white;
}

.res-btn{
    background-color: tomato;
    color: white;
}