<div class="container">

        <div class="editor">
            <div id="titulobanner">
                Escreva sua postagem
            </div>
            <div class="form">
                <form>
                    <input type="text" name="titulo" id="titulo" placeholder="Título da Postagem">
                        <br>
                            <textarea name="texto" 
                            id="texto" cols="30" rows="10" 
                            placeholder="Conteúdo da Postagem"></textarea>
                        <br>
                        <div class="btn">
                        <button mat-button 
                        type="submit" 
                        class="post-btn">
                        Postar</button> | 
                        <button mat-button 
                        type="reset" 
                        class="res-btn">
                        Limpar</button>
                        </div>
                </form>
            </div>
        </div>
</div>