<div class="example-container">
    <div class="titulo"> Crie sua postagem aqui. </div>
        <br>
        <form class="example-form">
            <input matInput 
            type="text" 
            name="titulo" 
            id="titlepost" 
            placeholder="Título de sua postagem" 
            required>
            <br>
            <br>
            <textarea 
            name="conteudo" 
            id="conteudo" 
            cols="30" 
            rows="10" 
            placeholder="Digite sua postagem aqui" 
            required></textarea>  
            <br>  
            <br>
            <button mat-button type="submit">Enviar</button> | 
            <button mat-button type="reset">Limpar</button>
        </form>
</div>