<div class="cargaconteudo">
    
    <div id="titulo">
        Agenda de Tarefas
    </div>

    <div class="form">
       <form action="">
        <label for="titulo">Título da Tarefa </label><br>
        <input type="text" name="titulo" id="tarefa" required><br>
        <label for="datatarefa"> Data da Tarefa </label><br>
        <input type="date" name="datarefa" id="data" required>
        <label for="horatarefa"> Horário da Tarefa </label>
        <input type="time" name="hora" id="horatarefa" required>
        <br>
        <label for="resumo">Resumo da Tarefa </label><br>
        <textarea name="resumotarefa" id="resumo" cols="100" rows="10" placeholder="Resumo da Tarefa" required></textarea>
        <div class="btn">
            <button mat-button 
            type="submit" 
            class="post-btn">
            Postar</button> | 
            <button mat-button 
            type="reset" 
            class="res-btn">
            Limpar</button> 
        </div>
       </form>
    </div>
</div>
