.home{
    background-image: url("../../assets/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    width: 80%;
}

#card1{
    width: 90px;
    text-align: center;
}